version: '3.9'

services:
  nginx:
    image: ${LCJS_NGINX_IMAGE}
    container_name: lcjs-nginx
    ports:
      - "${NGINX_PORT}:80"
    depends_on:
      - lcjs-server1
      - lcjs-server2
      - lcjs-server3
      - lcjs-client

  lcjs-server1:
    image: ${LCJS_SERVER_IMAGE}
    container_name: lcjs-server1
    environment:
      - NODE_ENV=${NODE_ENV}
      - CONTAINER_NAME=lcjs-server1
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

  lcjs-server2:
    image: ${LCJS_SERVER_IMAGE}
    container_name: lcjs-server2
    environment:
      - NODE_ENV=${NODE_ENV}
      - CONTAINER_NAME=lcjs-server2

  lcjs-server3:
    image: ${LCJS_SERVER_IMAGE}
    container_name: lcjs-server3
    environment:
      - NODE_ENV=${NODE_ENV}
      - CONTAINER_NAME=lcjs-server3

  lcjs-client:
    image: ${LCJS_CLIENT_IMAGE}
    container_name: lcjs-client
    environment:
      - NODE_ENV=${NODE_ENV}
      - CONTAINER_NAME=lcjs-client
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}"